body{
    background-repeat: repeat-x;
    background-position: center 500px, top left;
   background-size: 300px;
    background-color: black;
   
    background-image: url(https://media.istockphoto.com/vectors/floral-pattern-background-design-vector-stylized-geometric-flower-vector-id1203401101), url(https://media.istockphoto.com/photos/pixel-noise-abstract-background-green-block-neon-problems-pattern-picture-id1328946643?b=1&k=20&m=1328946643&s=170667a&w=0&h=BdVtDLtIKe6kqsiOUgxOvJwuG_idet7TFmEoH8bKvHQ=) ;
    background-repeat: no-repeat, repeat;
}
body{
    background : black url(https://media.istockphoto.com/vectors/floral-pattern-background-design-vector-stylized-geometric-flower-vector-id1203401101)  top left / cover no-repeat;
}