* { margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background-color: black;
}
div.quadradao{
    margin-top: 50px;
    background-color: rgb(85, 85, 85);
    padding: 30px;
    border-radius: 25px;
    color: wheat;
}
div.input-container{
   
    width: 300px;
    display: flex;
    flex-direction: column;

}
.input-container input{
    all:unset;
    padding: 10px 10px 10px 5px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 8px;
}
.input-container input:focus{
    border: 2px solid blue;
    box-shadow: 0 0 1em blue;
}

label.label-baixo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
p{
    margin-left: 147px;
    color: blue;
}
button{
    all:unset;
    width: 300px;
    margin-top: 25px;
    padding: 10px ;
    background-color: green;
    color: white;
    border-radius: 8px;
    text-align: center;

}
button:hover{
    
    background-color: black;
    opacity: 0.50;
    cursor: pointer;
}
h1{
    text-align: center;
}